.premium{
    padding-block:remy(224) remy(129);

    @media (max-width:980px){
        padding-block: remy(140) remy(100);
    }

    @media(max-width:770px){
        padding-block: remy(120) remy(80);
    }

    @media(max-width:500px){
        padding-block: remy(70) remy(60);
    }
    &-content{
        display: flex;
        align-items: center;
        column-gap: remy(145);
        justify-content: center;
        @media(max-width:770px){
            flex-direction: column-reverse;
            text-align: center;
        }

        @media(max-width:1240px){
            column-gap: remy(50);
        }

        @media(max-width:370px){
            text-align: left;
        }
        
    }

    &__descrip{
        
     
        flex-grow: 1;
        max-width: remy(489);
        padding-right: remy(20);

        
        .h4{
            padding-bottom: remy(4);
    
        }

        
        &-text{
            font-size: 1rem;
            margin-bottom: remy(22);
            line-height: remy(37);
        }

        @media(max-width:1240px){
            flex-shrink: 1;
        }

        @media(max-width:770px){
            margin-top: remy(62);
            padding-right:0;
        }
    }

    &__img{
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        
        img{
            aspect-ratio: 3 / 2;
            
            @media (max-width:1140px){
                width:remy(330)
            }

            @media (max-width:980px){
                width:remy(250)
            }

            @media(max-width:770px){
                width:remy(320)
            }

            @media(max-width:450px){
                width:remy(200)
            }
            
        
        }
        &-top{
            position: relative;
            z-index: 2;
            
        }
        &-bottom{
            padding-left: remy(150);
            margin-top: remy(-140);
            
       
            @media (max-width:1140px){
                margin-top:remy(-110);
                padding-left: remy(100);
            }
        
            @media(max-width:980px){
                padding-left: remy(60);
                margin-top:remy(-100)
            }

            @media(max-width:450px){
                padding-left: remy(70);
                margin-top:remy(-65)
            }
       
        }

        @media (max-width:991px){
            padding-block: remy(0);
        }
    
    }
}