:root {
	--container-width: 1200px;
	--container-padding: 15px;

	--font-main: 'Poppins', sans-serif;
	--font-second:'Manrope',sans-serif;
	--font-three: 'Times New Roman';
	--font-four: 'Open Sans Semibold'
	--font-titles: var(--font-accent);

	--page-bg:  #1C274A;
	--text-color: #000;
	--accent: #ac182c;
	--link-color: #2578c8;


    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

/* .dark {
    --page-bg: #1C274A;
    --text-color: #fff;
} */


$text: #252525;
$sec1:#424242;
$sec2:#858585;
$sec3:#D2D2D2;
$sec4:#EDEDED;

$ac:#E43071;
$subAc:#FFC1D8;
$outBr:#FFDAE7

// $ac: #26D68A;
// $subAc: #9BE8C7