extends layout/app

block page 
    include chunk/_header 
    main.main 
        include ./chunk/_result.pug
        include ./chunk/_cta.pug
        include ./chunk/_premium.pug
        include ./chunk/_stories.pug
        include ./chunk/_app.pug
        include ./chunk/_social.pug