// ============= OUR APP ==================
section.app 
    .app-container 
        .app-content
            h2.h4 Don't forget our app
            .app-content__text 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget lectus urna. Nulla magna tortor, bibendum in molestie sed, gravida nec felis. Sed id egestasegestas risus, ut imperdiet augue. 
                

            .app-links 
                p Download now: 
                .app-links__group 
                    a(href="##")
                        img(src="../img/icons/google-play.png", width="135" height="40" alt="img") 
                    a(href="##")  
                        img(src="../img/icons/app-store.png", width="133" height="38" alt="img")
        .app-images
            .app-images__item
                img(src="./img/main/phone1.webp",
                alt="img")
            .app-images__item
                img(src="./img/main/phone2.webp", 
                alt="img")
        
