//===================CTA==============
section.cta
    .slider-content
        .slider-content__title 
            h2.h2 Become more than you are.
            p.subtitle Staying active is great fun and keeps you healthy.<br>  Check out how you can join in.
            a.btn(href="#!") Let's play!
        .swiper.cta-slider
            .swiper-wrapper
                //====== single slide ======
                .swiper-slide
                    .swiper__item 
                        img(src="../../../img/main/second slider 1.jpg", alt="img")
                //====== single slide ======            
                .swiper-slide
                    .swiper__item 
                        img(src="../../../img/main/second slider 2.jpeg", alt="img")
                //====== single slide ======    
                .swiper-slide
                    .swiper__item 
                        img(src="../../../img/main/man.jpg", alt="img")
                //====== single slide ======    
                .swiper-slide
                    .swiper__item 
                        img(src="../../../img/main/second slider 4.jpeg", alt="img")

            .swiper-pagination