footer.footer
    .footer-content 
       .footer-top
            .footer-top__column.major
                .footer__logo
                    a(href="##").logo Good#[span lyfe]
                .footer__main 
                    p Lorem ipsum dolor amet, consectetur <br> adipiscing elit. Eget nisl nunc quam ac <br> sed turpis volutpat. Cursus sed massa <br>  non nisi, placerat.
                .footer__links 
                    a(href="##")
                        img(src="../img/footer-icon/instagram.svg", alt="img") 
                    a(href="##")
                        img(src="../img/footer-icon/ball.svg", alt="img") 
                    a(href="##")
                        img(src="../img/footer-icon/twitter.svg", alt="img") 
                    a(href="##")
                        img(src="../img/footer-icon/youtube.svg", alt="img") 
            .footer-top__column.reverse-1
                h4.footer__label Quick Links 
                    button.btn-footer
                        img(src="../img/icons/arrow-up.svg", alt="img")
                .footer__main 
                    ul.footer-nav.visible
                        li.footer-nav__link 
                            a(href="##") Classes
                        li.footer-nav__link 
                            a(href="##") Timetable
                        li.footer-nav__link 
                            a(href="##") Clubs
                        li.footer-nav__link 
                            a(href="##") Nutrition
                        li.footer-nav__link 
                            a(href="##") Free Trial 
            .footer-top__column
                h4.footer__label Guides
                    button.btn-footer
                        img(src="../img/icons/arrow-up.svg", alt="img")
                .footer__main 
                    ul.footer-nav.visible 
                        li.footer-nav__link 
                            a(href="##") Weight Loss
                        li.footer-nav__link 
                            a(href="##") Strength Gain
                        li.footer-nav__link 
                            a(href="##") Crossfit
                        li.footer-nav__link 
                            a(href="##") Washbaord Abs
                        li.footer-nav__link 
                            a(href="##") Dieting
            .footer-top__column.reverse-2
                h4.footer__label Reach us
                .footer__main 
                    ul.footer-nav-contacts 
                        li.footer-nav-contacts__contact
                            img(src="../img/footer-icon/mail.svg", alt="img") 
                            a(href="##") admin@goodlyfe.co
                        li.footer-nav-contacts__contact
                            img(src="../img/footer-icon/phone.svg", alt="img") 
                            a(href="##") +88 98765 43210
                        li.footer-nav-contacts__contact
                            img(src="../img/footer-icon/locate.svg", alt="img")
                            a(href="##") 90210 Beverly Hills <br> California USA
                            
       .footer-bottom
            span © 2024 GoodLyfe. All rights reserved
            .footer-bottom__terms 
                a(href="##").link Terms & Conditions 
                a(href="##").link Privacy Policy 
                a(href="##").link Sitemap  
                a(href="##").link Disclaimer  
                
            
