mixin header-slide(imgName)
    .swiper-slide
        .header-slider__item 
            img(src="../../../img/main/'+ imgName +'.jpeg", alt="img")
header.header
    //======= navigation =======
    .header-search-wrapper.none#header-search-wrapper
        .header-container
            form.search-form
                .form-item
                    input(type="text" placeholder="search...")
                    button(type="submit").search-btn
                        svg.svg-search 
                            use(href="./img/sprite/solid.svg#magnifying-glass")
                    button(type="reset").reset-btn 
                        svg.svg-xmark
                            use(href="./img/sprite/solid.svg#xmark")

    .header-nav.d-flex
        .header-container.d-flex
            a(href="#!").logo Good#[span.accent-span lyfe]
            //======= nav =======
            nav.header-menu.d-flex#head-menu
                a(href="#") Classess
                a(href="#") Timetable
                a(href="#") Clubs
                a(href="#") Nutrition
                a(href="#") Free Trial
              
            .header-nav__btn.d-flex
                button.search-open.d-flex#search-open 
                    span Search 
                    svg.svg-search
                        use(href="./img/sprite/solid.svg#magnifying-glass")

                button.btn-outline.btn-outline--slim Login
                button.menu-toggle#menu-toggle 
                    span


    //=================header-search
    
                    

    //======= slider =======
    .slider-content
        .slider-content__title 
            h1.h1 Welcome to #[br] Good#[span.accent-span lyfe] Gyms
            a.btn(href="#!") See the benefits
        .swiper.header-slider
            .swiper-wrapper
                //====== single slide ======
                .swiper-slide
                    .swiper__item 
                        img(src="../../../img/main/header-bg.jpeg", alt="img")
                //====== single slide ======            
                .swiper-slide
                    .swiper__item 
                        img(src="../../../img/main/header-bg2.jpg", alt="img")
                //====== single slide ======    
                .swiper-slide
                    .swiper__item 
                        img(src="../../../img/main/header-bg3.jpg", alt="img")
                //====== single slide ======    
                .swiper-slide
                    .swiper__item 
                        img(src="../../../img/main/header-bg4.jpg", alt="img")

            .swiper-pagination