section.social
    .social-content 
        h2.h4 Social
        .social-items 
            a(href="##").social-items__item 
                img(src="../img/socials-icon/facebook.svg", alt="##")
            a(href="##").social-items__item 
                img(src="../img/socials-icon/youtube.svg", alt="##") 
            a(href="##").social-items__item 
                img(src="../img/socials-icon/instagram.svg", alt="##")

